@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  /*padding-top: 50px;*/
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}*/

.container,
.starter-template,
#hero-welcome {
  overflow-y: scroll !important;
}

.starter-template {
  padding: 15px;
  text-align: center;
  height: 60%;
  width: 100%;
  /*overflow-y: auto;*/
}

.starter-template h1 {
    font-size: 5em;
}

.starter-template .lead {
    font-size: 2em;
    font-weight: 200;
}

.starter-template .lead2 {
    font-size: 1.6em;
    font-weight: 200;
}

/*
.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  background-color: black;
  opacity: 0.4;
  z-index: 10;
}*/

#hero-welcome {
  color: white;
  z-index: 900;
  position: relative;
  top: -60%;
  overflow-y: scroll !important;
}



.separator-line {
  width: 60%;
  text-align: center;
  margin: auto;
}

#hero-panorama {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.iwantit {
  display: block;
  position: relative;
  /*margin: auto !important;*/
  margin-top: 40px;
  padding: 10px 20px 15px 20px;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 70px;
  font-size: 2em;
  font-weight: 200;
  border: 3px solid white;
}

.iwantit:hover {
  background-color: white !important;
}

.iwantit:hover a {
  color: rgba(0, 0, 0, 0.5) !important;
}

.iwantit a {
  color: white;
  text-decoration: none !important;
}

.iwantit a:hover {
  text-decoration: none !important;
}

.icon360 {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 80px;
  font-family: 'Comfortaa', cursive;
}

.icon360 img {
  width: 70px;
  height: 70px;
}

.teleport-vr-logo {
  display: block;
  position: absolute;
  /*width: 200px;*/
  top: 18%;
  left: 50%;
  transform: translate(-50%);
}

.teleport-vr-logo img {
  width: 150px;
  height: 150px;
}

.hero-text-block {
  display: block;
  /*margin-top: 60px;*/
}

.hello {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  width: 340px;
  font-size: 1.6em;
  font-weight: 200;
  border: 3px solid white;
}

@media screen and (max-width: 930px) {

  .icon360 img {
    width: 40px;
    height: 40px;
    font-family: 'Comfortaa', cursive;
  }

  .teleport-vr-logo img {
    width: 120px;
    height: 120px;
  }

  .teleport-vr-logo {
    top: 22%;
    left: 50%;
    transform: translate(-50%);
  }

}

@media screen and (min-width: 1100px) {

  .separator-line {
    width: 35%;
  }

}

@media screen and (max-width: 1000px) {

  #hero-welcome {
    top: -57%;
  }

  .starter-template {
    height: 57%;
  }

}

@media screen and (max-height: 500px) {

  .icon360 img {
    width: 40px;
    height: 40px;
    font-family: 'Comfortaa', cursive;
  }

  .teleport-vr-logo img {
    width: 100px;
    height: 100px;
  }

  .teleport-vr-logo {
    top: 15%;
    left: 50%;
    transform: translate(-50%);
  }

  .hero-text-block .row h1 {
    font-size: 3em;
  }

  .lead {
    font-size: 1.7em;
  }

  #hero-welcome {
    top: -53%;
  }

  .starter-template {
    height: 53%;
  }

}

@media screen and (max-width: 450px) {

  .hero-text-block .row h1 {
    font-size: 3em;
  }

  .lead {
    font-size: 1.7em !important;
  }

}

@media screen and (min-width: 451px) and (max-width: 770px) {

  .hero-text-block .row h1 {
    font-size: 3.5em;
  }

  .lead,
  .lead2 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

}

.click-layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  background-color: rgba(255, 255, 255, 0.6);
}
